.App{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.main{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.Todo-create{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  outline: none;
  width: 100%;
}

.Todo-input{
  border: none;
  padding: 10px 0px;
  font-size: medium;
  border-bottom: 1px solid gray;
  width: 100%;


}

.Todo-button{
    padding: 8px;
    width: 50%;
    background-color: gold;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.Todo-icons{
  font-size: 25px;
  cursor: pointer;

}

.Todo{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  font-size: large;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 5px 0px;
}

.Todo-List{
  width: 100%;

}



